<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="{{artist!.images[0].url}}" alt="artist image" class="img-fluid">
        </div>
        <div class="col">
            <h1>{{artist!.name}}</h1>
            <p>Followers: {{artist!.followers.total}}</p>
            <p>Genres: {{artist!.genres}}</p>
            <a href="{{artist!.external_urls.spotify}}" target="_blank">Open in Spotify</a>
        </div>
    </div>
    <div class="row">
        @if (type == 'tracks') {
            <songs-table [songs]="topTracks"></songs-table>
        }
        @if (type == 'album') {
            <songs-table [albumTracks]="albumTracks"></songs-table>
        }
        
    </div>
</div>
